<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos inscritos</title>
    <link rel="stylesheet" href="../../../css/eventsCSS/eventos-inscritosCss/eventos-inscritos.css">
    <link rel="stylesheet" href="../../../css/eventsCSS/eventos-inscritosCss/eventos-inscritosMobile.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="../../../imagens/favicon.ico" type="image/x-icon">
</head>
<body>
    <div id="div-pai">
        <header>
            <h1 class="titulo">Gerência</h1>
            <a href="/homepage">
                <div id="header-image">
                
                </div>
            </a>
            <h1 class="titulo">Eventos</h1>
        </header>

        <div id="container-titulo">
            <h1 id="titulo-2">Eventos que participo:</h1>
            <h3 id="h3-voltar">
                <a href="/homepage">
                    Voltar para homepage
                    <i class="material-icons">undo</i>
                </a>
            </h3>
        </div>

        <div id="container-homepage">
            <div id="container-publications">
                <% if (dadosEvents.length === 0) { %>
                    <!--Modal-->

                    <div id="modal" class="modal">
                        <div class="modal-content">
                            <h2 id="h2-modal">Você não está participando de nenhum evento</h2>
                            <i class="material-icons">close</i>
                            <p id="p-modal">Participe de um evento na página principal</p>
                            <a href="/homepage">
                                <button id="close-modal-btn" class="modal-button">Página principal</button>
                            </a>
                        </div>
                    </div>
                <% } else { %>
                <% dadosEvents.forEach((dados) =>{ %>
                    <div id="publications-homepage">
                        <div id="event-banner">                            
                            <% if (dados.imageBase64) { %>
                                <img id="img-banner" src="<%= dados.imageEvent %>" alt="">
                            <% } else { %>
                                <img id="img-banner" src="../../imagens/SEM FOTO DE EVENTO.png" alt="">
                            <% } %>

                            <div id="event-title">
                                <div id="event-data">
                                    <p class="p-event-data"><%= dados.day %></p>
                                    <hr>
                                    <p class="p-event-data"><%= dados.month %></p>
                                </div>
                            
                                <p id="p-event-title"><%= dados.nome %></p>
                            </div>
                            
                            <% if(dados.records.profileimage) { %>
                                <div id="profile-image">
                                    <img src="<%= dados.records.profileimage %>" id="profile">              
                                </div>
                            <% } else { %>
                                <div id="profile-image">
                                    <img src="../../../imagens/user.jpg" id="profile">              
                                </div>
                            <% } %>
                        </div>

                        <div id="event-info-container">
                            <ul>
                                <li>
                                    <i class="material-icons">mail</i>
                                    <%= dados.tipo %> - Organizado por @<%= dados.organizador %>
                                </li>
                                <hr>
                                <li>
                                    <i class="material-icons">schedule</i>
                                    Dia <%= dados.day %>, do mês <%= dados.month %> - 
                                    das <%= dados.hora_inicio %> às <%= dados.hora_fim %>
                                </li>
                                <hr>
                                <li>
                                    <i class="material-icons">location_on</i>
                                    <%= dados.endereco %>
                                </li>
                                <hr>
                                <li>
                                    <i class="material-icons">description</i>
                                    Descrição:
                                </li>
                            </ul>
                        </div>

                        <div id="event-description">
                            <p id="p-event-description">
                                <%= dados.descricao %>
                            </p>
                        </div>

                        
                        <form action="/events/disparticipate" method="post" class="formRemovePart">
                            <input type="hidden" name="eventId" value="<%= dados.id %>">
                            <button id="btt-participation">Tirar participação</button>
                        </form>
                    </div>
                <% }) %>
                <% } %>
                
            </div>
        </div>

        <!--Modal 2-->

        <div id="modal2" class="modal">
            <div class="modal-content">
                <span class="close-button" id="span-btt2">&times;</span>
                <h2 id="h2-modal2">Só um momento!</h2>
                <i class="material-icons">info</i>
                <p id="p-modal2">Tem certeza sobre remover sua participação desse evento ?</p>
                <button id="close-modal-btn2" class="modal-button">Tenho certeza</button>
            </div>
        </div>

        <!--Modal 3-->

        <div id="modal3" class="modal">
            <div class="modal-content">
                <h2 id="h2-modal3">Sucesso!</h2>
                <i class="material-icons">handshake</i>
                <p id="p-modal3">Participação registrada!</p>
                <p id="p-modal3">Confira em Eventos Inscritos suas participações</p>
            </div>
        </div>
    </div>
</body>

<script>
    const formParticipation = document.querySelectorAll('.formRemovePart');
    formParticipation.forEach(form =>{
        form.addEventListener('submit', (event) =>{
            event.preventDefault();
    
            const modal2 = document.getElementById('modal2');
            const bttModal2 = document.getElementById('close-modal-btn2');
            const spanbtt2 = document.getElementById('span-btt2');
    
            modal2.style.display = 'block'
            
            spanbtt2.addEventListener('click', () =>{
                modal2.style.display = 'none';
            })
            bttModal2.addEventListener('click', () =>{
                modal2.style.display = 'none';
                form.submit();
            })
        })
    })


    //modal3

    const modal3 = document.getElementById('modal3');

    document.addEventListener('DOMContentLoaded', () =>{
        const urlParams = new URLSearchParams(window.location.search);
        const sucessMsg = urlParams.get('participationCreated');
        if(sucessMsg){
            modal3.style.display = 'block'
            setTimeout(() =>{
                modal3.style.display = 'none'
                urlParams.delete('participationCreated');
                const newUrl = window.location.pathname + (urlParams.toString() ? '?' + urlParams.toString() : '');
                history.replaceState(null, '', newUrl);
            }, 3000)
        }
    })

</script>

</html>