<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acessar grupo</title>
    <link rel="stylesheet" href="../../css/homepageCss/homepage.css">
    <link rel="stylesheet" href="../../css/homepageCss/homepageMobile.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="../../imagens/favicon.ico" type="image/x-icon">
</head>
<body>
    <div id="div-pai">
        <header>
            <h1 class="titulo">Gerência</h1>
            <a href="/homepage">
                <div id="header-image">
                
                </div>
            </a>
            <h1 class="titulo">Eventos</h1>
        </header>

        <hr class="hr-header">
        <div id="container-titulo-homepage">
            <h1 id="titulo-homepage">Eventos Privados</h1>
        </div>
        <hr class="hr-header">
        
        <div id="container-homepage">
            <div id="profile-homepage">
                <h1 id="h1-eventos">MEUS EVENTOS DO GRUPO</h1>
                <hr class="hr-eventos">

                <i class="material-icons">groups</i>
                <h1 id="group-name">< <%= groupData.name %> ></h1>

                <div id="eventos-container">
                    <hr class="hr-eventos">
                    <li>
                        <a href="/criarEventos/<%= groupIdVar %>">Criar evento de grupo</a>
                        <i class="material-icons">add_circle</i>
                    </li>
                    <hr class="hr-eventos">

                    <li>
                        <a href="/gruposInscritos">Voltar para Grupos inscritos</a>
                        <i class="material-icons">undo</i>
                    </li>
                </div>
            </div>

            <div id="container-publications">
                <% if(events.length === 0) { %>
                    <div id="welcome-modal" class="modal">
                    <div class="modal-content" id="modal-content">
                        <i class="material-icons">waving_hand</i>
                        <h2 id="h2-modal">Ainda não há eventos nesse grupo</h2>
                        <a href="/criarEventos/<%= groupIdVar %>">
                            <button id="close-modal-btn" class="modal-button">Criar um evento</button>
                        </a>
                    </div>
                </div>
                <% } else { %>
                    <% events.forEach((dadosEvents) =>{ %>
                        <div id="publications-homepage">
                            <div id="event-banner">
                                <% if (dadosEvents.imageBase64) { %>
                                    <img id="img-banner" src="<%= dadosEvents.imageEvent %>" alt="">
                                <% } else { %>
                                    <img id="img-banner" src="../../imagens/SEM FOTO DE EVENTO.png" alt="">
                                <% } %>

                                <div id="event-title">
                                    <div id="event-data">
                                        <p class="p-event-data"><%= dadosEvents.day %></p>
                                        <hr>
                                        <p class="p-event-data"><%= dadosEvents.month %></p>
                                    </div>
                                
                                    <p id="p-event-title"><%= dadosEvents.nome %></p>
                                </div>
                                
                                <% profileData.forEach((dadosProfile) => { %>
                                    <% if (dadosProfile.id === dadosEvents.userId) { %>
                                        <% if (dadosProfile.profileimage) { %>
                                            <div class="profile-image">
                                                <img src="<%= dadosProfile.profileimage %>" id="profile">              
                                            </div>
                                        <% } else { %>
                                            <div class="profile-image">
                                                <img src="../../imagens/user.jpg" id="profile">              
                                            </div>
                                        <% } %>
                                    <% } %>
                                <% }) %>
                            </div>

                            <div id="event-info-container">
                                <ul>
                                    <li>
                                        <i class="material-icons">mail</i>
                                        <%= dadosEvents.tipo %> - Organizado por @<%= dadosEvents.organizador %>
                                    </li>
                                    <hr>
                                    <li>
                                        <i class="material-icons">schedule</i>
                                        <%= dadosEvents.day %>/<%= dadosEvents.month %>/<%= dadosEvents.year %> 
                                        das <%= dadosEvents.hora_inicio %> às <%= dadosEvents.hora_fim %>
                                    </li>
                                    <hr>
                                    <li>
                                        <i class="material-icons">location_on</i>
                                        <%= dadosEvents.endereco %>
                                    </li>
                                    <hr>
                                    <li>
                                        <i class="material-icons">description</i>
                                        Descrição:
                                    </li>
                                </ul>
                            </div>

                            <div id="event-description">
                                <p id="p-event-description">
                                    <%= dadosEvents.descricao %>
                                </p>
                            </div>

                            <% if (dadosEvents.userId != userId) { %>
                                <form action="/participate" method="post">
                                    <input type="hidden" name="eventId" value="<%= dadosEvents.id %>">
                                    <input type="hidden" name="userId" value="<%= userId %>">
                                    <button id="btt-participate">Participar</button>
                                </form>    
                            <% } %>

                            <% if(dadosEvents.userId == userId) { %>
                                <form action="/editarEvento" method="get">
                                    <input type="hidden" name="eventId" value="<%= dadosEvents.id %>">
                                    <button id="btt-edit">
                                        Editar seu evento
                                    </button>
                                </form>
                            <% } %>
                        </div>
                    <% }) %>
                <% } %>
            </div>
        </div>
    </div>
</body>

<script>
    var modal = document.getElementById('welcome-modal');
    var bttModal = document.getElementById('close-modal-btn');
    var spanbtt = document.getElementById('span-btt');
    var h2modal = document.getElementById('h2-modal');
    var pmodal = document.getElementById('p-modal');
    var modalcontent = document.querySelector('.modal-content')

    modal.style.display = 'block'

    function bttModalPress(btt, span){
        btt.addEventListener('click', () =>{
            modal.style.display = 'none';
        })
        span.addEventListener('click', () =>{
            modal.style.display = 'none';
        })
    }

    bttModalPress(bttModal, spanbtt);

</script>

</html>