<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pesquisar grupos</title>
    <link rel="stylesheet" href="../../../css/groupsCss/pesquisaGrupoCss/pesquisa-grupo.css">    
    <link rel="stylesheet" href="../../../css/eventsCSS/eventos-inscritosCss/eventos-inscritos.css">
    <link rel="stylesheet" href="../../../css/eventsCSS/eventos-inscritosCss/eventos-inscritosMobile.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="../../../imagens/favicon.ico" type="image/x-icon">
</head>
<body>
    <div id="div-pai">
        <header>
            <h1 class="titulo">Gerência</h1>
            <a href="/homepage">
                <div id="header-image">
                
                </div>
            </a>
            <h1 class="titulo">Eventos</h1>
        </header>

        <div id="container-titulo">
            <h1 id="titulo-2">Pesquisar grupo:</h1>    
            <h3 id="h3-voltar">
                <a href="/homepage">
                    Voltar para homepage
                    <i class="material-icons">undo</i>
                </a>
            </h3>    
        </div>

        <div id="container-homepage">
            <div id="container-publications">
                <form action="/gruposPesquisa" method="GET" id="formSearch">
                    <input type="text" name="search" id="isearch" placeholder="Nome do grupo..." value="<%= searchGroup %>">
                    <button id="btt-participation" class="btt-participation-perso">Pesquisar</button>
                </form>


                <% grupos.forEach((dados) => { %>
                    <div id="publications-homepage">
                        <div id="event-banner">                        
                            <% if (dados.imageBase64) { %>
                                <img id="img-banner" src="<%= dados.imageGroup %>" alt="">
                            <% } else { %>
                                <img id="img-banner" src="../../imagens/SEM FOTO DE EVENTO.png" alt="">
                            <% } %>

                            <div id="event-title">
                                <p id="p-event-title"><%= dados.name %></p>
                            </div>
                            
                            <% if(dados.creator.profileimage) { %>
                                <div id="profile-image">
                                    <img src="<%= dados.creator.profileimage %>" id="profile">              
                                </div>
                            <% } else { %>
                                <div id="profile-image">
                                    <img src="../../../imagens/user.jpg" id="profile">              
                                </div>
                            <% } %>
                        </div>

                        <div id="event-info-container">
                            <ul>
                                <li>
                                    <i class="material-icons">mail</i>
                                    <%= dados.isPublic %> - Criado por @<%= dados.creator.userName %>
                                </li>

                                <hr>
                                <li>
                                    <i class="material-icons">person</i>
                                    Quantidade de membros: <%= dados.memberCount %>
                                </li>

                                <hr>
                                <li>
                                    <i class="material-icons">description</i>
                                    Descrição:
                                </li>
                                <div id="event-description" class="event-description-perso">
                                    <p id="p-event-description">
                                        <%= dados.description %>
                                    </p>
                                </div>

                                <hr>
                                <li>
                                    <i class="material-icons">description</i>
                                    Regras:
                                </li>
                                <div id="event-description" class="event-description-perso">
                                    <p id="p-event-description">
                                        <%= dados.rules %>                                        
                                    </p>
                                </div>
                            </ul>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</body>

<script>
    const nomeGrupo = document.getElementById('isearch');
    const bttSearch = document.getElementById('btt-participation');

    bttSearch.addEventListener('click', () => {
        console.log('valor: ', nomeGrupo);
    });
</script>

</html>