<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página principal</title>
    <link rel="stylesheet" href="../../css/homepageCss/homepage.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div id="div-pai">
        <header>
            <h1 class="titulo">Gerência</h1>
            <div id="header-image">
    
            </div>
            <h1 class="titulo">Eventos</h1>
        </header>
        
        <div id="container-homepage">
            <div id="profile-homepage">
                <div id="profile-container">
                    <!--
                    <% dadosEvents.forEach((event) => { %>
                        <div id="profile-image">
                                <img src="<%= event.records.profileimage %>" id="profile">              
                            </div>
                    <% }); %>
                    -->
                    
                    <i class="material-icons">person</i>
                    <p class="profile-name">
                        <%= userData.userName %>
                    </p>
                    
                    <a href="/editarPerfil">Editar perfil</a>
                    
                </div>

                <h1 id="h1-eventos">MEUS EVENTOS</h1>
                <hr id="hr-eventos">

                <div id="eventos-container">
                    <li>
                        <a href="/criarEventos">Criar evento</a>
                        <i class="material-icons">add_circle</i>
                    </li>
                    <li>
                        <a href="/eventosInscritos">Eventos inscritos</a>
                        <i class="material-icons">event_available</i>
                    </li>
                    <li>
                        <a href="#">Meus eventos</a>
                        <i class="material-icons">event</i>
                    </li>
                    <li>
                        <a href="/logout">Sair</a>
                        <i class="material-icons">logout</i>
                    </li>
                </div>
            </div>

            <div id="container-publications">
            <% dadosEvents.forEach((dados) =>{ %>
                <div id="publications-homepage">
                    <div id="event-banner">
                        

                        <% if (dados.imageBase64) { %>
                            <img id="img-banner" src="<%= dados.imageEvent %>" alt="">
                        <% } else { %>
                            <img id="img-banner" src="../../imagens/SEM FOTO DE EVENTO.png" alt="">
                        <% } %>

                        <div id="event-title">
                            <div id="event-data">
                                <p class="p-event-data"><%= dados.day %></p>
                                <hr>
                                <p class="p-event-data"><%= dados.month %></p>
                            </div>
                        
                            <p id="p-event-title"><%= dados.nome %></p>
                        </div>
                        
                        <% if(dados.records.profileimage) { %>
                            <div id="profile-image">
                                <img src="<%= dados.records.profileimage %>" id="profile">              
                            </div>
                        <% } else { %>
                            <div id="profile-image">
                                <img src="../../imagens/user.jpg" id="profile">              
                            </div>
                        <% } %>
                    </div>

                    <div id="event-info-container">
                        <ul>
                            <li>
                                <i class="material-icons">mail</i>
                                <%= dados.tipo %> - Organizado por @<%= dados.organizador %>
                            </li>
                            <hr>
                            <li>
                                <i class="material-icons">schedule</i>
                                Dia <%= dados.day %>, do mês <%= dados.month %> - 
                                das <%= dados.hora_inicio %> às <%= dados.hora_fim %>
                            </li>
                            <hr>
                            <li>
                                <i class="material-icons">location_on</i>
                                <%= dados.endereco %>
                            </li>
                            <hr>
                            <li>
                                <i class="material-icons">description</i>
                                Descrição:
                            </li>
                        </ul>
                    </div>

                    <div id="event-description">
                        <p id="p-event-description">
                            <%= dados.descricao %>
                        </p>
                    </div>

                    <% if (dados.userId != userData.id) { %>
                        <form action="/participate" method="post">
                            <input type="hidden" name="eventId" value="<%= dados.id %>">
                            <input type="hidden" name="userId" value="<%= userData.id %>">
                            <button id="btt-participate">Participar</button>
                        </form>    
                    <% } %>

                    <% if(dados.userId == userData.id) { %>
                        <form action="/editarEvento" method="post">
                            <input type="hidden" name="eventId" value="<%= dados.id %>">
                            <button id="btt-edit">
                                Editar seu evento
                            </button>
                        </form>
                    <% } %>
                </div>
            <% }) %>
            </div>

        </div>


        <!--modal-->


        <div id="welcome-modal" class="modal">
            <div class="modal-content">
                <span class="close-button" id="span-btt">&times;</span>
                <h2 id="h2-modal">Bem-vindo <%= userData.fullName %>!</h2>
                <p id="p-modal">Estamos felizes em tê-lo aqui. Organize, edite e gerencie seus eventos da forma + simples e eficiente.</p>
                <button id="close-modal-btn" class="modal-button">Começar</button>
            </div>
        </div>


        <!--Modal 3-->

        <div id="modal3" class="modal">
            <div class="modal-content">
                <h2 id="h2-modal3">Espere ai!</h2>
                <i class="material-icons">sentiment_very_satisfied</i>
                <p id="p-modal3">Você já está participando deste evento!</p>
            </div>
        </div>
        
    </div>
</body>


<script>
    var modal = document.getElementById('welcome-modal');
    var bttModal = document.getElementById('close-modal-btn');
    var spanbtt = document.getElementById('span-btt');
    

    document.addEventListener('DOMContentLoaded', () =>{
        const urlParams = new URLSearchParams(window.location.search);
        const sucessMsg = urlParams.get('sucess');
        if(sucessMsg){
            modal.style.display = 'block'
            bttModalPress(bttModal, spanbtt);   

            urlParams.delete('sucess');
            const newUrl = window.location.pathname + (urlParams.toString() ? '?' + urlParams.toString() : '');
            history.replaceState(null, '', newUrl);
        }
    })

    function bttModalPress(btt, span){
        btt.addEventListener('click', () =>{
            modal.style.display = 'none';
        })
        span.addEventListener('click', () =>{
            modal.style.display = 'none';
        })
    }


    //modal3

    var modal3 = document.getElementById('modal3');

    document.addEventListener('DOMContentLoaded', () =>{
        const urlParams = new URLSearchParams(window.location.search);
        const sucessMsg = urlParams.get('participationExist');
        if(sucessMsg){
            modal3.style.display = 'block'
            setTimeout(() =>{
                modal3.style.display = 'none'
                urlParams.delete('participationExist');
                const newUrl = window.location.pathname + (urlParams.toString() ? '?' + urlParams.toString() : '');
                history.replaceState(null, '', newUrl);
            }, 4000)
        }
    })
</script>


</html>