<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página principal</title>
    <link rel="stylesheet" href="../../css/homepageCss/homepage.css">
    <link rel="stylesheet" href="../../css/homepageCss/homepageMobile.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="../../imagens/favicon.ico" type="image/x-icon">
</head>
<body>
    <div id="div-pai">
        <header>
            <h1 class="titulo">Gerência</h1>
            <div id="header-image">
    
            </div>
            <h1 class="titulo">Eventos</h1>
        </header>
        
        <div id="container-homepage">
            <div id="profile-homepage">
                <div id="profile-container">
                    <% dadosProfile.forEach((dadosProfile) => { %>
                        <% if (dadosProfile.id == userId && dadosProfile.profileimage) { %>
                            <div class="profile-wrapper">
                                <img src="<%= dadosProfile.profileimage %>" alt="">
                            </div>                                
                        <% } %>
                        <% if (dadosProfile.id == userId && !dadosProfile.profileimage) { %>
                            <div class="profile-wrapper">
                                <img src="../../imagens/user.jpg" alt="">
                            </div>                                
                        <% } %>
                    <% }) %>
                </div>
                <% dadosProfile.forEach((dadosProfile) => { %>
                    <% if (dadosProfile.id == userId) { %>
                        <p class="profile-name">
                            <%= dadosProfile.userName %>
                        </p>
                    <% } %>
                <% }) %>
                <p id="p-editPerfil">
                    <a href="/editarPerfil">Editar perfil</a>
                </p>
                
                <hr class="hr-eventos">
                <h1 id="h1-eventos">MEUS EVENTOS</h1>

                <div id="eventos-container">
                    <li>
                        <a href="/criarEventos/0">Criar evento</a>
                        <i class="material-icons">add_circle</i>
                    </li>
                    <li>
                        <a href="/eventosInscritos">Eventos inscritos</a>
                        <i class="material-icons">event_available</i>
                    </li>
                    <li>
                        <a href="/meusEventos">Meus eventos</a>
                        <i class="material-icons">edit</i>
                    </li>
                    <li>
                        <a href="/logout">Sair</a>
                        <i class="material-icons">logout</i>
                    </li>
                </div>
                <hr class="hr-eventos">
                <h1 id="h1-eventos">GRUPOS</h1>
    
                <div id="eventos-container">
                    <li>
                        <a href="/criarGrupos">Criar grupo</a>
                        <i class="material-icons">add_circle</i>
                    </li>
                    <li>
                        <a href="/gruposPesquisa">Pesquisar grupos</a>
                        <i class="material-icons">search</i>
                    </li>
                    <li>
                        <a href="/gruposInscritos">Grupos inscritos</a>
                        <i class="material-icons">group</i>
                    </li>
                    <li>
                        <a href="/meusGrupos">Meus grupos</a>
                        <i class="material-icons">edit</i>
                    </li>
                </div>
            </div>

            <div id="container-publications">
                <% dadosEvents.forEach((dadosEvents) =>{ %> 
                    <div id="publications-homepage">
                        <div id="event-banner">
                            <% if (dadosEvents.imageBase64) { %>
                                <img id="img-banner" src="<%= dadosEvents.imageEvent %>" alt="">
                            <% } else { %>
                                <img id="img-banner" src="../../imagens/SEM FOTO DE EVENTO.png" alt="">
                            <% } %>

                            <div id="event-title">
                                <div id="event-data">
                                    <p class="p-event-data"><%= dadosEvents.day %></p>
                                    <hr>
                                    <p class="p-event-data"><%= dadosEvents.month %></p>
                                </div>
                            
                                <p id="p-event-title"><%= dadosEvents.nome %></p>
                            </div>
                            
                            <% dadosProfile.forEach((dadosProfile) => { %>
                                <% if (dadosProfile.id === dadosEvents.userId) { %>
                                    <% if (dadosProfile.profileimage) { %>
                                        <div class="profile-image">
                                            <img src="<%= dadosProfile.profileimage %>" id="profile">              
                                        </div>
                                    <% } else { %>
                                        <div class="profile-image">
                                            <img src="../../imagens/user.jpg" id="profile">              
                                        </div>
                                    <% } %>
                                <% } %>
                            <% }) %>
                        </div>

                        <div id="event-info-container">
                            <ul>
                                <li>
                                    <i class="material-icons">mail</i>
                                    <%= dadosEvents.tipo %> - Organizado por @<%= dadosEvents.organizador %>
                                </li>
                                <hr>
                                <li>
                                    <i class="material-icons">schedule</i>
                                    <%= dadosEvents.day %>/<%= dadosEvents.month %>/<%= dadosEvents.year %> 
                                    das <%= dadosEvents.hora_inicio %> às <%= dadosEvents.hora_fim %>
                                </li>
                                <hr>
                                <li>
                                    <i class="material-icons">location_on</i>
                                    <%= dadosEvents.endereco %>
                                </li>
                                <hr>
                                <li>
                                    <i class="material-icons">description</i>
                                    Descrição:
                                </li>
                            </ul>
                        </div>

                        <div id="event-description">
                            <p id="p-event-description">
                                <%= dadosEvents.descricao %>
                            </p>
                        </div>

                        <% if (dadosEvents.userId != userId) { %>
                            <form action="/participate" method="post">
                                <input type="hidden" name="eventId" value="<%= dadosEvents.id %>">
                                <input type="hidden" name="userId" value="<%= userId %>">
                                <button id="btt-participate">Participar</button>
                            </form>    
                        <% } %>

                        <% if(dadosEvents.userId == userId) { %>
                            <form action="/editarEvento" method="post">
                                <input type="hidden" name="eventId" value="<%= dadosEvents.id %>">
                                <button id="btt-edit">
                                    Editar seu evento
                                </button>
                            </form>
                        <% } %>
                    </div>
                <% }) %>
            </div>
        </div>


        <!--modal-->


        <% dadosProfile.forEach((dadosProfile) =>{ %> 
            <% if(dadosProfile.id == userId) { %>
                <div id="welcome-modal" class="modal">
                    <div class="modal-content" id="modal-content">
                        <span class="close-button" id="span-btt">&times;</span>
                        <h2 id="h2-modal">Bem-vindo <%= dadosProfile.userName %>!</h2>
                        <p id="p-modal">Estamos felizes em tê-lo aqui. Organize, edite e gerencie seus eventos da forma + simples e eficiente.</p>
                        <button id="close-modal-btn" class="modal-button">Começar</button>
                    </div>
                </div>
            <% } %>
        <% }) %>      
    </div>
</body>


<script>
    var modal = document.getElementById('welcome-modal');
    var bttModal = document.getElementById('close-modal-btn');
    var spanbtt = document.getElementById('span-btt');
    var h2modal = document.getElementById('h2-modal');
    var pmodal = document.getElementById('p-modal');
    var modalcontent = document.querySelector('.modal-content')

    function bttModalPress(btt, span){
        btt.addEventListener('click', () =>{
            modal.style.display = 'none';
        })
        span.addEventListener('click', () =>{
            modal.style.display = 'none';
        })
    }

    document.addEventListener('DOMContentLoaded', () =>{
        const urlParams = new URLSearchParams(window.location.search);
        const sucessMsg = urlParams.get('sucess');
        const participationAlert = urlParams.get('participationExist');
        
        if(sucessMsg){
            modal.style.display = 'block'
            bttModalPress(bttModal, spanbtt);   

            urlParams.delete('sucess');
            const newUrl = window.location.pathname + (urlParams.toString() ? '?' + urlParams.toString() : '');
            history.replaceState(null, '', newUrl);
        }
        
        if(participationAlert){
            spanbtt.style.display = 'none'
            h2modal.innerText = 'Espere ai!'
            var i = document.createElement('i')
            i.textContent = 'sentiment_very_satisfied'
            i.classList.add('material-icons')
            modalcontent.appendChild(i)
            pmodal.innerText = 'Você já está participando deste evento!'
            bttModal.style.display = 'none'
            modal.style.display = 'block'
            
            setTimeout(() =>{
                modal.style.display = 'none'
                urlParams.delete('participationExist');
                const newUrl = window.location.pathname + (urlParams.toString() ? '?' + urlParams.toString() : '');
                history.replaceState(null, '', newUrl);
            }, 2000)
        }
        
    })
</script>


</html>