<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar eventos</title>
    <link rel="stylesheet" href="../../../css/shorthandsCss/editar-eventosCss/editar-eventos.css">
    <link rel="stylesheet" href="../../../css/shorthandsCss/editar-eventosCss/editar-eventosMobile.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="../../../imagens/favicon.ico" type="image/x-icon">
</head>
<body>
    <div id="div-pai">
        <header>
            <h1 class="titulo">Gerência</h1>
            <a href="/homepage">
                <div id="header-image">
                </div>
            </a>
            <h1 class="titulo">Eventos</h1>
        </header>

        <h1 class="titulo">Edite seu Evento</h1>
        <h3 id="h3-voltar">
            <a href="/homepage">
                Voltar para homepage
                <i class="material-icons">undo</i>
            </a>
        </h3>

        <% eventsData.forEach(event => { %>
            <form id="editEventForm" action="/uploadEvents" method="post" enctype="multipart/form-data">
                <input type="hidden" name="id" value="<%= event.id %>">

                <label for="nome">Editar nome:</label>
                <input type="text" name="nome" id="inome" data-original="<%= event.nome %>" placeholder="<%= event.nome %>" maxlength="25" value="<%= event.nome %>">

                
                <label for="tipo">Editar tipo:</label>
                <select name="tipo" id="itipo" class="cursorPointer"> 
                    <option value="<%= event.tipo %>" selected data-original="<%= event.tipo %>"><%= event.tipo %></option>        
                    <option value="Privado">Privado</option>
                    <option value="Público">Público</option>
                </select>

                
                <label for="organizador">Editar organizador:</label>
                <input type="text" name="organizador" id="iorganizador" value="<%= event.organizador %>" placeholder="<%= event.organizador %>" maxlength="50" data-original="<%= event.organizador %>">

                
                <label for="data">Editar data:</label>
                <input class="cursorPointer" type="date" name="data" id="idata" value="<%= event.data %>" data-original="<%= event.data %>">

                
                <label for="hora_inicio">Editar hora de início:</label>
                <input class="cursorPointer" type="time" name="hora_inicio" id="ihora_inicio" value="<%= event.hora_inicio %>" data-original="<%= event.hora_inicio %>">

                
                <label for="hora_fim">Editar hora de fim:</label>
                <input class="cursorPointer" type="time" name="hora_fim" id="ihora_fim" value="<%= event.hora_fim %>" data-original="<%= event.hora_fim %>">

                
                <label for="endereco">Editar endereço:</label>
                <input type="text" name="endereco" id="iendereco" data-original="<%= event.endereco %>" placeholder="<%= event.endereco %>" maxlength="50" value="<%= event.endereco %>">

                
                <fieldset>
                    <legend>DESCRIÇÃO</legend>
                    <p id="p-textarea">*até 600 caracteres</p>
                    <textarea name="descricao" id="idescricao" required data-original="<%= event.descricao %>" maxlength="600">
                    <%= event.descricao %>
                    </textarea>
                </fieldset>

                
                <label for="image" id="labelimage">Editar imagem:</label>  
                <% if(!event.image) { %>
                    <div id="div-imagem-evento">
                        <img src="../../../imagens/SEM FOTO DE EVENTO.png" alt="Imagem do evento">
                    </div>
                <% } else { %>
                    <div id="div-imagem-evento">
                        <img src="data:image/jpeg;base64,<%= event.image.toString('base64') %>" alt="Imagem do evento">
                    </div>
                <% } %>
                <input type="file" name="image" id="iimage" accept="image/*">

                <button id="btt-evento">Salvar alterações</button>
            </form>


            <form action="/deleteEvents" method="post" id="eventDeleteForm">
                <h1 class="titulo">Deletar evento</h1>       
                <input type="hidden" name="id" value="<%= event.id %>">     
                <button class="btt-delete-account">DELETE</button>
            </form>
        <% }) %>

        <!--Modal-->

        <div id="modal" class="modal">
            <div class="modal-content">
                <span class="close-button" id="span-btt">&times;</span>
                <h2 id="h2-modal">Só um momento!</h2>
                <i class="material-icons">info</i>
                <p id="p-modal">Tem certeza que deseja excluir o evento ?</p>
                
                <button id="close-modal-btn" class="modal-button">Tenho certeza</button>
            </div>
        </div>
    </div>
</body>

<script>
    document.getElementById('iimage').addEventListener('change', (event) => {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = (e) => {
                const img = document.createElement('img');
                img.src = e.target.result;
                img.classList.add('div-imagem-evento');
                const divImagem = document.getElementById('div-imagem-evento');
                divImagem.innerHTML = '';
                divImagem.appendChild(img);
            };
            reader.readAsDataURL(file);
        }
    });

    //modal
    
    var modal = document.getElementById('modal');
    var bttModal = document.getElementById('close-modal-btn');
    var spanbtt = document.getElementById('span-btt');
    var pmodal = document.getElementById('p-modal');
    
    function bttModalPressDelete(btt, span, form){
        btt.addEventListener('click', () =>{
            modal.style.display = 'none';
            form.submit();
        })
        span.addEventListener('click', () =>{
            modal.style.display = 'none';
        })
    }

    function bttModalPress(btt, span){
        btt.addEventListener('click', () =>{
            modal.style.display = 'none';
        })
        span.addEventListener('click', () =>{
            modal.style.display = 'none';
        })
    }

    const deleteForms = document.getElementById('eventDeleteForm');
        deleteForms.addEventListener('submit', (event) => {
            event.preventDefault(); // Impede o envio padrão
            modal.style.display = 'block';
            bttModalPressDelete(bttModal, spanbtt, deleteForms)
        });

    
    const form = document.getElementById('editEventForm');
    form.addEventListener('submit', (e) => {
        e.preventDefault();

        const formData = new FormData(form);
        const alteredData = {};

        form.querySelectorAll('input, textarea').forEach(field => {
            if (field.type !== 'file' && field.value !== field.getAttribute('data-original')) {
                alteredData[field.name] = field.value;
            }
        });

        //validações
        const inputData = form.querySelector('#idata').value;
        const currentData = new Date();
        const userData = new Date(inputData);
        const nextYear = currentData.getFullYear() + 1;
        const userYear = userData.getFullYear();

        if (userData < currentData) {
            pmodal.innerText = `A data inserida não pode ser menor que a data atual!!!`
            modal.style.display = 'block';
            bttModalPress(bttModal, spanbtt)
            return;
        }

        if (userYear > nextYear) {
            pmodal.innerText = `O ano inserido não pode ser maior que ${nextYear}`
            modal.style.display = 'block';
            bttModalPress(bttModal, spanbtt)
            return;
        }
 
        const imageField = form.querySelector('#iimage');
        if (imageField.files.length > 0) {
            formData.append('image', imageField.files[0]);
        }
        const eventId = form.querySelector('input[name="id"]').value; // Recupera o ID do evento
        console.log('Event ID:', eventId);

        fetch(`/uploadEvents/${eventId}`, {
            method: 'PUT',
            body: formData,
        })
        .then(() =>{
            console.log('Sucess updated (frontend)');
            window.location.href = '/homepage';
        })
        .catch(err => {
            console.error('Error at requisition event update:', err);
        });
        
    });
        
</script>

</html>