<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar eventos</title>
    <link rel="stylesheet" href="../../../css/shorthandsCss/editar-eventosCss/editar-eventos.css">
</head>
<body>
    <h1>welcome to edit events page</h1>

    <% eventsData.forEach(event => { %>
        <form action="/uploadEvents" method="post">
            <label for="nome">Editar nome:</label>
            <input type="text" name="nome" id="inome" placeholder="<%= event.nome %>">

            <label for="nome">Editar tipo:</label>
            <input type="text" name="tipo" id="itipo" placeholder="<%= event.tipo %>">

            <label for="nome">Editar organizador:</label>
            <input type="text" name="organizador" id="iorganizador" placeholder="<%= event.organizador %>">

            <label for="data">Editar data:</label>
            <input type="date" name="data" id="idata" value="<%= event.data %>">

            <label for="hora_inicio">Editar hora de início:</label>
            <input type="time" name="hora_inicio" id="ihora_inicio" value="<%= event.hora_inicio %>">

            <label for="hora_fim">Editar hora de fim:</label>
            <input type="time" name="hora_fim" id="ihora_fim" value="<%= event.hora_fim %>">

            <label for="endereco">Editar endereço:</label>
            <input type="text" name="endereco" id="iendereco" placeholder="<%= event.endereco %>">

            <label for="descricao">Editar descrição:</label>
            <textarea name="descricao" id="idescricao" rows="4" placeholder="<%= event.descricao %>"></textarea>

            <label for="image">Editar imagem:</label>            
            <img src="data:image/jpeg;base64,<%= event.image.toString('base64') %>" alt="Imagem do evento" style="width: 200px; height: auto;">
            <input type="file" name="image" id="iimage">

            <button type="submit">Salvar alterações</button>
        </form>
    <% }) %>
</body>
</html>